body {
    background-color: darkolivegreen;
    color: wheat;
    display: flexbox;
    font-family: 'Climate Crisis', cursive;
}

body h1 {
    text-align: center;
    font-size: 48px;
}

.buttons {
    display: flex;
    text-align: center;
    padding: 3% 0;
}

button {
    background-color: wheat;
    color: darkolivegreen;
    border: none;
    font-family: 'Climate Crisis', cursive;
    font-size: 48px;
    margin: 1% 3%;
    padding: 2% 0;
    border-radius: 25px;
    width: 30%;
}

.notification {
    font-size: 48px;
    letter-spacing: 3px;
    display: none;

}

.stats {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 23%;
    margin-right: 8%;
    align-items: center;
}

h3 {
    width: 200px; /* set a fixed width for the h3 element */
    display: inline-block; /* display h3 as an inline block element */
    letter-spacing: 3px;
    font-size: 30px;
    white-space: nowrap;
    padding: 0 5%;
}